go 1.26.0

use (
	./pkg/configs
	./pkg/db_models
	./pkg/grpc
	./pkg/kafka
	./pkg/middleware
	./pkg/postgres
	./pkg/redis
	./pkg/s3
	./services/auth
	./services/profile
	./services/stack
	./services/swipe
)
